.dog-card {
    width: 250px;
    height: 550px;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 5px;
    margin: 10px;
}
  
img {
    width: 100%;
    height: 170px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
    object-fit: cover;
}
  
.dogBreed {
    color: rgb(100, 150, 150);
    font-weight: 700;
}
  
.dogDescription {
    line-height: 1.5;
    padding: 10px;
    height: 30%;
}