.adoptionHeader {
  margin-bottom: 3rem;
}

.dog-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin-bottom: 2rem;
}
  
@media (max-width: 720px) {
    .dog-container {
      grid-template-columns: 1fr;
    }
}