.adoptFormHeader {
    margin-top: 10vh;
}

.mainInputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input {
    text-align: center;
}

.applicantHousing {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.rentalCheck {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    gap: 2rem;
}

.landlordInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.adoptionInputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.radioSelector {
    margin-left: 2rem;
}

.adoptionSubmit {
    padding: 10px;
    width: 200px;
    background: var(--accent-color);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    margin-top: 2rem;
    font-size: 1.25rem;
}

.adoptionSubmit:hover {
    cursor: pointer;
}

.adoptionSubmit:active {
    background-color: rgb(0, 78, 4);
    color: white;
    box-shadow: none;
}

@media (max-width: 768px) {
    .adoptionInputs {
        grid-template-columns: 1fr;
    }
}