.underConstruction {
    height: 320px;
    width: 800px;
    margin-top: 10vh;
    margin-bottom: -30vh;
}

.mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 42vh;
}

.constructionText {
    margin-top: 23rem;
    font-size: 3rem;
}