.mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.underConstruction {
    height: 320px;
    width: 800px;
    margin-top: 10vh;
    margin-bottom: -40vh;
}