.nameForm {
    width: 300px;
    height: 1.3rem;
    font-size: 1.25rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    background: rgb(240, 240, 240);
}

.emailForm {
    width: 300px;
    height: 1.3rem;
    font-size: 1.25rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    background: rgb(240, 240, 240);
}

.textForm {
    width: 300px;
    height: 150px;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    background: rgb(240, 240, 240);
}

.btnForm {
    padding: 10px;
    width: 200px;
    background: var(--accent-color);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    font-size: 1.25rem;
}

.btnForm:hover {
    cursor: pointer;
}

.btnForm:active {
    background-color: rgb(0, 78, 4);
    color: white;
    box-shadow: none;
}