.pageLinks {
    background: var(--accent-color);
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: flex-start;
    z-index: 10;
    position: fixed;
    top: 0;
}

.navHeader {
    font-size: 2rem;
    z-index: 11;
    margin-right: -60vw;
}

.navHeader h1 {
    font-size: 1.25rem;
    margin-top: -9vh;
    position: fixed;
}

.pageLinks h1 {
    margin-left: 28vw;
    font-size: 1.5rem;
    line-height: 2;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
}

.pageLink {
    color: rgb(0, 0, 0);
    font-size: 1.125rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 1rem;
    height: 100%;
    width: 150px;
    cursor: pointer;
}

.pageLink:nth-child(1) {
    width: 100px;
}

.pageLink:nth-child(2) {
    width: 100px;
}

.hamburgerMenu {
    display: none;
}

@media (max-width: 1080px) {
    .navHeader {
        margin-right: -45vw;
    }

    .navHeader h1 {
        font-size: 1.25rem;
        width: 200px;
        margin-top: -9vh;
    }

    .pageLink:nth-child(4) {
        margin-right: -15vw;
    }
}

@media (max-width: 768px) {
    .navHeader {
        margin-right: 1vw;
        margin-top: 1vh;
    }

    .navHeader h1 {
        font-size: 1rem;
        width: 200px;
    }

    .pageLink {
        display: none;
    }

    .hamburgerMenu {
        z-index: 11;
        display: inline;
        margin-top: -10vh;
        margin-left: -55vw;
    }
}